<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanks You!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
           $('#submit').click(function(){
               window.location.replace('http://localhost:3000/test');
           });
        });
    </script>
</head>
<body>
<div class="center-align">
    <div class="">
        <h2>Thanks!</h2>
        <h5> You have finished the test and your results have been saved. We appreciate your participation!</h5>
    </div>
</div>
</body>
</html>